div#mainbody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div#mainbody > .project {
    width: 100%;
    margin: 0 0 20px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

div#mainbody > .project > .project-screenshot {
    width: 300px;
}

div#mainbody > .project > .project-screenshot > img {
    width: 100%;

    border: 3px;
    border-style: solid;
    border-color: black;
}

div#mainbody > .project > .project-description {
    width: 450px;

    text-align: left;
}

div#mainbody > .project > .project-description > .project-nameplate {
    margin: 0 0 10px 0;

    color: #00b359;
}

div#mainbody > .project > .project-description > .project-nameplate > .project-title {
    font-size: 25px;
    font-weight: bold;
}

div#mainbody > .project > .project-description > .project-nameplate > .project-purpose {
    font-size: 15px;
}

div#mainbody > .project > .project-description a {
    color: #00b359;
    text-decoration: none;
}
