#mainbody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#mainbody > .no-margin {
    margin: 0;
}

#mainbody > .project-category > .title {
    text-align: left;
    font-size: 25px;
    width: 75%;
    border-bottom: solid black 1px;
    margin-bottom: 1rem;
}

#mainbody > .project-category > .project {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#mainbody > .project-category > .project > .project-screenshot > a > img {
    width: 300px;
    border: 3px;

    display: block;

    border-style: solid;
    border-color: black;
}

#mainbody > .project-category > .project > .project-description {
    width: 450px;
    text-align: justify;
    text-justify: inter-word;
}

#mainbody > .project-category > .project > .project-description > .project-title {
    margin: 0 0 10px 0;
    color: #00b359;
    font-size: 25px;
    font-weight: bold;
}

#mainbody > .project-category > .project > .project-description a {
    color: #00b359;
    text-decoration: none;
}
