#mainbody {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 40px;
}

#mainbody > .job {
    width: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    border-left: 1px solid black;
    text-align: left;
}

#mainbody > .job > .info > .timeframe {
    font-size: 13px;
    color: #666;
}

#mainbody > .job > .info > .company {
    padding: 5px 0;
    font-size: 20px;
    color: #00b359;
    font-weight: bold;
}

#mainbody > .job > .info > .position {
    font-size: 15px;
    color: #00b359;
}

#mainbody > .job > .project {
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
}

#mainbody > .job > .project > ul {
    margin: 0;
}

#mainbody > .job > .project > .meta {
    font-size: 13px;
    color: #666;
}

#mainbody > .job > .project > .meta > span {
    font-style: italic;
}
