html {
    width: 100%;
    // height:100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    // height:100%;
    margin: 0;
    padding: 0;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Raleway', sans-serif;
    // background-color: #FFF;
    // background-color: #F8F8F8;
}

#content {
    // margin: 40px auto 0 auto;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    width: 800px;
    // height:100%;

    text-align: center;
    // background-color: #EEE;
}

header {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // align-items: baseline;
    align-items: flex-end;

    width: 100%;
}

header > #nameplate {
    text-align: left;
}

header > #nameplate > #nameplate-name {
    font-size: 30px;
    color: #00b359;
}

header > #nameplate > #nameplate-title {
    font-size: 17px;
}

header > nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-end;

    height:100%;
    font-size: 20px;
    color: #00b359;
}

header > nav > #nav-link {
    padding: 0 0 0 20px;
}

#header-seperator {
    width: 120%;
    margin: 10px 0 30px 0;
    margin-left: -10%;

    // height:3px;
    // background-color:black;
    // border-top: 1px dashed #8c8b8b;
    // border-top: 1px solid black;

}

div#mainbody {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div#mainbody > aside > img {
    height: 300px;
    width: 300px;

    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: black;
}

div#mainbody > aside > #social {
    font-size: 14px;
}

div#mainbody > aside > #social > div > img {
    height: 25px;
    width: 25px;

    margin: 0px 3px;
    padding: 0;
}

div#mainbody > aside > #social {
    margin: 10px 0 0 0;
}

div#mainbody > main > #resume-link {
    margin: 0 0 30px 0;
    font-size: 30px;
    color:#00b359;
    font-weight: bold;

    // border-radius: 5px;
    // border: 3px;
    // border-style: solid;
    // border-color: black;
    // background-color:#00b359;
}

div#mainbody > main {
    width: 400px;

    text-align: left;
}

div#mainbody > main > h1 {
    margin: 0 0 10px 0;
    padding: 0;

    color: #00b359;
    font-weight:normal;
}

