<!doctype html>
<html>

<head>
  <title>
    Troy Baker: Homepage
  </title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="icon" href="images/index.ico" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  <div id="content">
    <header>
      <a href="index.html" id="nameplate">
        <div id="nameplate-name">Troy A. Baker</div>
        <div id="nameplate-title">Computer Science Professional</div>
      </a>
      <nav>
        <a class="nav-link" href="index.html">Home</a>
        <a class="nav-link" href="work.html">Work</a>
        <a class="nav-link" href="projects.html">Projects</a>
        <a class="nav-link" href="publications.html">Publications</a>
        <a class="nav-link" href="academia.html">Academia</a>
      </nav>
    </header>
    <hr id="header-seperator">

    <div id="mainbody">