{{> start}}

<aside>
  <img src="images/self.jpg" alt="My handsome face." />
  <div id="social">
    Social links:
    <div>
      <a href="http://www.linkedin.com/in/troy-baker-988991a7"><img src="images/In-Black-14px.png"
          alt="LinkedIn" /></a><a href="http://github.com/rekabat"><img src="images/GitHub-Mark-32px.png"
          alt="GitHub"></a>
    </div>
  </div>
</aside>
<main>
  <h1>Welcome!</h1>
  <p>
    I'm Troy Baker, computer science professional with a masters in CS.
  </p>
  <p>
    As a professional, I've been a full stack developer with a passion for <em>web design</em>, <em>database
      design</em>, <em>software architecture</em>, and <em>authentication &amp; authorization</em>. My strong
    leadership and organizational skills have also led to a growing interest in <em>program management</em>.
  </p>
  <p>
    As a student, I developed a strong background in <em>machine learning</em>, <em>theory of computation</em>,
    and <em>computer graphics</em>.
    In graduate school, I researched <em>rigidity theory</em> (in the field of combinatorial geometry.) In
    addition to the purely theoretical aspect of this research, I also spent time developing novel algorithms and
    working on several programming projects of various scale.
    I also developed a passion for teaching, which I have found to be invaluable in every setting.
  </p>
  <p>
    Whether it's new academic pursuits, rock climbing, fencing, teaching, or things too nerdy to mention... when I
    am passionate, I dedicate myself to learning and practicing. I am always trying to broaden my worldview. For
    me, computer science brings together so many opportunities that make me passionate.
  </p>
  <a id="resume-link" href="files/resume.pdf">
    Download r&eacute;sum&eacute;.
  </a>
</main>

{{> end}}